body {
	background-image: url("../../assets/images/background.png");
	padding-bottom: 70px;
}

/* h2 style is only used for the titles in the main body of the pages */
h2.title {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: xx-large;
	font-weight:bold;
	color:#4aaaa5;
	margin-left: 50px;
}

/*  This does not work for some reason.  But the ID version works */
/*
.brand {
	font-family:'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	color: #ffffff;
	font-size:x-large;
	background-color: #4aaaa5;
	text-align: center;
}
*/

/********** NAV BAR for all pages ************/
/* Used bootstrap code for Nav Bar but the Brand Name is 'a' tag
	in the original code.  This changes it to just text */

/* Custom Style for Brand Name in the Nav Bar */
#brandStyle {
	background-color: #4aaaa5; 
	font-weight: bold; 
	color:#ffffff;
	font-family:'Georgia', Times, Times New Roman, serif;
	font-size: x-large;
}


/* Profile picture adjust to left in About Me*/
#profile {
	float: left;
	padding: 10px;
}

/****** Connect With Me Panel for all pages ******/

/* Text for the panel header */
.connectWithMe {
	text-align: center;
	color:#4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: large;
}

/* Size the icons in the Panel Body */
.panel-images {
	height:45px;
	width: 45px;
	margin:10px;
}

/******* Portfolio Images *******/
/* The following three classes are to get images and display
	text on the images in the portfolio page */

/* Set proper margin for Portfolio Images */
.portfolio-left-image,
.portfolio-right-image,
.portfolio-text {
	margin:10px 25px;
}

.portfolio-left-image {
	height:200px;
	width: 300px;
	position:relative;
}

.portfolio-right-image {
	height:200px;
	width: 300px;
	position: relative;
}

/* Text on Portfolio Images */
.portfolio-text {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;	
	text-align: center;
	font-weight: bold;
	font-size: large;
	width:300px;
	padding:10px 0px;
	position: absolute;
	top:130px;
}

/********** FOOTER for all pages ************/

/* Set proper styling for the footer text and the box */
.footer {
	text-align: center;
	color:black;
	font-weight: bold;
	padding:10px;
	font-size:10px;
}

.footer-box {
	background-color: gray;
	width:100%;
}